<header>
  <nav>
    <a class="logo" href="/"> <img src="/images/arqive-logo.png" alt="Arqive" width="80px"> </a>
    <div class="buttons">
      <% if(locals.user) { %>
      <a class="btn-link" href="/logout">Logout</a>
      <%} else { %>
      <a class="btn-link" href="/login">Login</a>
      <a class="btn-link" href="/sign-up">Sign up</a>
      <% } %>
    </div>
  </nav>
</header>
