<script defer>
  const modal = document.querySelector(".more-info-modal");
  const moreInfoBtns = document.querySelectorAll(".more-info-btn");
  const modalContainer = document.querySelector(".modal-container");

  //Closes Info Modal when clicked anywhere other than the Modal itself and More Info button
  document.body.addEventListener("click", (e) => {
    const data = Array.from(moreInfoBtns).some((btn) => btn.contains(e.target));

    if (!data && !modal.contains(e.target)) {
      modalContainer.style.display = "none";
      modalContainer.style.display = "none";
    }
  });

  //Formats Date
  const getDate = (dateString) => {
    const date = new Date(dateString);

    const formattedDate = date.toLocaleDateString();
    const formattedTime = date.toLocaleTimeString();

    return [formattedDate, formattedTime];
  };

  const imageTypes = [
    "image/jpeg",
    "image/png",
    "image/jpg",
    "image/webp",
    "image/avif",
  ];
  const otherFileTypes = ["application/pdf", "text/plain"];

  //Displays modal with dynamic data (info)
  const showModal = (data) => {
    const [date, time] = getDate(data.createdAt);

    const dataSrc = () => {
      if (data.type === "folder") return "/images/folder-icon.png";
      if (data.type === otherFileTypes[0]) return "/images/pdf-icon.png";
      if (data.type === otherFileTypes[1]) return "/images/text-icon.png";
      else return data.url;
    };

    modal.innerHTML = "";
    modal.innerHTML = `<button onclick="closeModal()" class="close-modal-btn">
          <img src="/svg/cross.svg" alt="Close" />
        </button>
        <div class="info">
            <div class="modal-image-container">
                <img
                class=${
                  imageTypes.some((t) => t === data.type)
                    ? "modal-image"
                    : "modal-icon"
                }
                src=${dataSrc()}
                width=${
                  data.type === "folder" ||
                  otherFileTypes.some((t) => t === data.type)
                    ? "40px"
                    : "100%"
                }
                alt=${data.name}
            /></div>
          <h4>${data.name}</h4>
          ${
            data.url
              ? `<a title="Download" class="btn-link" href="/folder/${data.id}/download" download="" />Download</a>`
              : ""
          }

           <p>${
             data.type === "folder" ? "Created at " : "Added at "
           } ${time} on ${date} </p>
        </div>`;
    modalContainer.style.display = "block";
    modal.style.display = "flex";
  };

  const closeModal = () => {
    modalContainer.style.display = "none";
    modal.style.display = "none";
    modal.innerHTML = "<p>No data to show</p>";
  };
</script>
