<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Arqive - Home</title>
      <link rel="icon" href="/images/arqive-meta.png" type="image/png" />
      <link rel="stylesheet" href="/css/style.css" />
    </head>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>

    <main class="home">
      <h1>Home</h1>
      <a href="/folder">Root</a>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
