<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Arqive - Login</title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <main class="login-container">
      <% if(locals.user) { %>
      <p>Hey <%= user.firstName%> <%= user.lastName%>, you're already logged in!</p>
      <a class="btn-link" href="/logout">Logout</a>
      <% } else { %>
      <form action="/login" method="POST" autocomplete="off">
        <label for="username"
          >Username <input type="text" name="username" id="username"
        /></label>
        <label for="password"
          >Password <input type="password" name="password" id="password"
        /></label>
        <button class="btn" type="submit">Login</button>
      </form>
      <p>
        Don't have an account? <a class="sign-up-btn" href="/sign-up">Sign up</a>
      </p>
      <% } %>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
