@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  color: white;
  font-family: "Commissioner", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 500;
  text-align: center;
}

/* ------------Navbar-------------- */

header {
  width: 100%;
  max-width: 1500px;
  height: 60px;
  z-index: 9999;
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #121212;
  top: 0;
}

nav {
  padding: 0 10px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Passions Conflict", "Commissioner", sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  object-fit: contain;
  padding-top: 5px;
  object-position: center;
}

/* ------------Main-------------- */

main {
  max-width: 1500px;
  border-radius: 4px;
  position: relative;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  min-height: calc(100vh - 120px);
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}

.folder-container {
  display: block;
  padding: 0;
}

.login-container,
.signup-container {
  gap: 10px;
}

.add-file-container,
.add-edit-folder-container {
  gap: 40px !important;
}

.add-file-container .buttons,
.add-edit-folder-container .buttons {
  justify-content: center;
}

.add-file-container .btn-link,
.add-edit-folder-container .btn-link {
  padding: 5px 15px !important;
}

.errors-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.not-found-container h1 {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.not-found-container h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.home-container .home-icon {
  width: 200px;
}

.home-container h1 {
  position: relative;
  bottom: 40px;
  font-size: 1.9rem;
}

.home-container .home-icon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

/* ------------Footer-------------- */

footer {
  padding: 0 20px 20px 20px;
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
}

/* ------------Button and Links-------------- */

button {
  font-family: "Commissioner", sans-serif;
}

.btn {
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 4px;
  background-color: #121212;
  border: 1px solid #ffffff3d;
  color: white;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    background-color: #242424;
    transition: background-color 300ms ease-in-out;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-link {
  padding: 5px 10px 7px 10px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  border: 1px solid #ffffff3d;

  border-radius: 4px;
  background-color: #121212;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #242424;
    transition: background-color 300ms ease-in-out;
  }
}

.normal-link {
  color: white;
  text-decoration: underline;

  &:hover {
    color: gray;
    transition: color 150ms ease-in-out;
  }
}

/* ------------Folders and Files-------------- */

.folders-section,
.files-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 20px;
  gap: 20px;
  width: 100%;
}

.folders-section h2,
.files-section h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.folders-heading,
.files-heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.folders-heading > .btn-link,
.files-heading > .btn-link {
  font-size: 0.8rem;
  padding: 5px 10px;
}

.folders,
.files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
  text-align: center;
  min-height: 50px;
  gap: 10px;
}

.folder,
.file {
  padding: 8px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  border-radius: 4px;
  width: 130px;
  gap: 8px;

  &:hover {
    background-color: rgb(73, 72, 72);
    transition: background-color 300ms ease-in-out;
  }
}

.action-btns {
  align-self: flex-end;
}
.folder > p,
.file > p {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: start;
  padding-left: 1px;
}

.folder-icon,
.file-icon {
  padding: 20px;
  width: 100%;
  height: 85px;
  border-radius: 4px;
  background-color: #121212;
}

.folder-icon-svg,
.file-icon-svg {
  width: 40px;
}

.file-img {
  height: 85px;
}

.file-image {
  width: 100%;
  height: 85px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

/* ------------Modal-------------- */

.more-info-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.more-info-modal {
  background: #242424;
  display: none;
  flex-direction: column;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  max-width: 350px;
  width: 80%;
  padding: 20px;
  border-radius: 4px;
  border: none;
  z-index: 999999;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h4 {
  margin-top: 5px;
}

.info > p {
  font-size: 12px;
  align-self: end;
}

.close-modal-btn {
  align-self: end;
  padding: 4px 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 999;

  &:hover {
    color: gray;
    transition: fill 300ms ease-in-out;
  }
}
.modal-image-container {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image {
  max-height: 150px;
  object-fit: contain;
  object-position: center;
}

.modal-container {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000b5;
  display: none;
}

/* ------------Breadcrumb-------------- */

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 10px;
  padding: 5px 20px 10px 20px;
  flex-wrap: wrap;
  background-color: #242424;
  position: sticky;
  top: 0;
}

.breadcrumb a {
  color: white;
  text-decoration: none;

  &:hover {
    color: gray;
    transition: color 200ms ease-in-out;
  }
}

.breadcrumb > p {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* ------------Form-------------- */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
}

input {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  min-width: 250px;
  background-color: #121212;
  color: white;
  border: 1px solid #ffffff3d;
  &:focus {
    outline: none;
    box-shadow: 0 2px 1px gray;
    transition: box-shadow 200ms ease-in-out;
  }
}

/* ------------Scrollbar-------------- */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

/* ------------Error message-------------- */

.error {
  color: white;
  list-style: none;
  background-color: #8e1616;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}


.success-message {
  color: white;
  list-style: none;
  background-color: #248e16;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

/* ------------Media queries-------------- */
@media only screen and (max-width: 550px) {
  .folder,
  .file {
    width: 120px;
  }
}

@media only screen and (max-width: 450px) {
  .folders,
  .files {
    justify-content: space-evenly;
  }

  .add-edit-folder-container .btn-link,
  .add-file-container .btn-link {
    font-size: 0.8rem;
  }

  .home-container .home-icon {
    width: 150px;
  }

  .not-found-container h2 {
    font-size: 1.2rem;
  }

  .not-found-container .btn-link {
    font-size: 0.9rem;
  }

  .add-file-container input {
    width: 220px;
  }
}
